/*common start*/
body{
	padding: 0;
	margin: 0;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262;
	
}
/*common end*/
/*header start*/
header{
	padding: 22px 0;

}
.container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	/*border: 1px solid blue;*/


}
.logo{
	width: 9%;
    margin-top: 22px;
	float: left;
	/*border: 1px solid green;*/

}
.logo img{
	width: 100%;


}
.menu{
	/*border: 1px solid;*/
	width: 55%;
	float: right;

}
.menu ul{
	float: right;


}
.menu ul li{
	list-style: none;
	float: left;
	


}
.menu ul li a{
	text-decoration: none;
	color: #626262;
	margin: 0 40px;
	padding: 4px 3px 2px;
	display: inline-block;
	text-transform: uppercase;
	border: 1px solid transparent;
	transition: .7s;

}
.menu ul li:last-child a{
	margin-right: 0;

}
.menu ul li a:hover{
	border-bottom: 1px solid #626262;
	
}
/*header end*/
/*bannar start*/

.bannar{
	

}
.c-img{

}
.c-img img{
	width: 100%;

}
/*bannar end*/

/*perfect start*/
.perfect{
	padding-top: 80px;

}
.wrapper{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	/*border: 1px solid;*/
	

}
.p-light{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
    text-transform: uppercase;
    color: #b4ad9e;

}
.p-head{
	    margin: 0;
	font-size: 32px;
	font-weight: 400;

}
.p-text{
	    line-height: 25px;

}
.p-40{
	margin-bottom: 40px;
}
/*perfect end*/

/*blog start*/
.blog{
	    padding: 100px 0 35px 0;

}
.b-wrapper{
	overflow: hidden;

}
.single{
	margin-bottom: 60px;
	width: 47%;
	/*border: 1px solid;*/
	float: left;



}
.single:nth-child(even){
	    margin-left:6%;

}
.b-img{
	margin-bottom: 25px;

}
.b-img img{
	width: 100%;

}

/*blog end*/

/*blog-2 start*/
.blog-2{
	padding: 100px;
}
/*blog-2 end*/
.btn{
	text-align: center;
	padding: 100px;

}
.btn button{
	height: 60px;
    width: 165px;
    background: transparent;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    border: 1px solid #626262;
    font-weight: 400;
    color: #626262;
    transition: .5s;
    cursor: pointer;


}
.btn button:hover{
	background-color: #b4ad9e;
	color: #FFFFFF;
}





/*--------------------------------*/
/*photodiary start

.photodiary{
	      padding-bottom: 85px;

}
.single{
	
	padding-top: 90px;
	width: 45%;
	float: left;
   /* border: 1px solid blue;
	
 }
 .single-2{
 	padding-top: 90px;
 	margin-left: 10%;
 	width: 45%;
	float: left;
    /*border: 1px solid yellow;
 }
 
.image-graphy{
	    width: 100%;
	  /* border: 1px solid green;
}
.image-graphy img{
	        width: 100%;


/*-----------------------------*/





/*comment-section start*/
.comment{
	padding: 50px 0;
	background-color: #f0f0f0;
}
.wrapper-2{
	width: 40%;
	margin: 0 auto;

}
.sign-up{
	text-align: center;
}
.sign-up h1{
	font-size: 30px;
    margin-bottom: 70px;
}
.for-form{
	width: 350px;
    margin: 0 auto;
    position: relative;
}
.for-form input{
	 border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    width: 300px;
    font-size: 15px;
    padding: 7px 40px 7px 7px;
    outline: none;
}
.for-form button{
	border: none;
    background: transparent;
    position: absolute;
    top: 7px;
    right: 0;
}
/*comment-section end*/
/*BTN start
.btn{
	      padding: 40px 0 160px 0;

}
.container-2{
	text-align: center;

}
.container-2 button{
	 padding: 6px 9px;
    font-size: 23px;
    color: #626262;
    background: transparent;
    font-family: 'Playfair Display', serif;
    border: 1px solid #626262;
    font-weight: 400;
    transition: 0.4s;

}
.container-2 button:hover{
	background-color: #f0f0f0 ;
}

/*BTN end*/

/*footer start*/
footer{
	padding: 10px 0;
	background-color: #f0f0f0 ;
	font-weight: 600;
}
.privacy{
	width: 30%;
	/*border: 1px solid ;*/
	float: left;
	

}
.privacy ul{


}
.privacy ul li{
	list-style: none;

}
.privacy ul li a{
	text-decoration: none;
    color: #626262;
    float: left;
    margin-right: 5%;

}

.social-icon{
	width: 45%;
	/*border: 1px solid ;*/
	float: right;
	margin-left: 24%;

}
.social-icon p{
	float: left;
	margin-left: 74%;
	margin-top: 3.3%;
}
	

}
.social-icon ul{


}
.social-icon ul li{
	list-style: none;

}
.social-icon ul li a{
	text-decoration: none;
	

}
.social-icon ul li a img{
	width: 3.6%;
	float: left;
	margin: 0.5% 0px 0px 2.5%;

}





/*footer end*/
/*footer start

footer{
	 background-color: #f0f0f0;
	     padding: 10px 0 16px 0px;
}
.footer-menu{
	width: 30%;
	margin-top: 10px;
 /* border: 1px solid;
    float: left;
    display: inline-block;

}
.footer-menu a{
	font-size: 14px;
	 margin-right: 20px;
	text-decoration: none;
    color: #626262;


}
.social-icons{
	overflow: hidden;
	 display: inline;
	float: right;
    width: 22%;
   /*border: 1px solid #8b8b27;

}
.social-icons p{
	  display: inline-block;
	  margin-left: 80px;
	  font-size: 14px;
}
.social-icons a{
			
	    margin-left: 10px;

}
.social-icons a img{
	width: 6%;
}


/*footer end*/
